<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/view_article.css">
    <link href="https://fonts.googleapis.com/css?family=Mukta|Ranga|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <title>View Article</title>
</head>

<body>
    <div id="top-nav-bar">
        <span id="main-logo">Jihyo Blog</span>
        <img id="menu-icon" src="../imgs/menu_icon.png" alt="menu_icon.png">
        <ul id="menu">
            <li class="nav-list"><a href="main_page.html">Home</a></li>
            <li class="nav-list"><a href="archive.html">Archive</a></li>
            <li class="nav-list"><a href="about.html">About</a></li>
            <li class="nav-list" id="write-post"><a href="">Write</a></li>
        </ul>
        <ul id="dropdown-menu">
            <li class="nav-list"><a href="main_page.html">Home</a></li>
            <li class="nav-list"><a href="archive.html">Archive</a></li>
            <li class="nav-list"><a href="about.html">About</a></li>
            <li class="nav-list" id="write-post"><a href="">Write</a></li>
        </ul>
        <hr>
    </div>
    <div id="main-body">
        <div id="control">
            <div id="edit" class="control-button">
                Edit
            </div>
            <div id="delete" class="control-button">
                Delete
            </div>
        </div>
        <div id="title">
            Lorem ipsum dolor sit amet.
        </div>
        <div id="pub-date">
            December 15, 2018
        </div>
        <div id="contents">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero excepturi repudiandae sit dignissimos minima
            non dolorum, delectus corporis velit vel odio eos, tempore earum pariatur quidem. Similique consectetur
            aspernatur voluptates!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis hic facere beatae placeat laboriosam
            exercitationem dolor soluta repudiandae, unde deleniti officiis quam odio, perspiciatis fugiat totam autem
            debitis cumque consectetur.
            <br> <br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, in. Rerum corporis ipsa illo tempora beatae
            eos, ad explicabo, voluptatibus suscipit, ex expedita molestias optio tempore accusamus sequi minus unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis itaque sequi numquam tempore. Consectetur
            iure adipisci sit modi harum assumenda totam sequi ex, eligendi maiores nostrum consequatur amet
            asperiores? Doloribus?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, rerum a id officia porro perspiciatis
            nulla praesentium, voluptate quia repellendus necessitatibus qui dolores facilis? Animi ullam asperiores
            fuga consequatur eum?
            <br> <br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis officiis quam autem quasi iusto
            aliquid, aperiam quia necessitatibus esse facere beatae ipsum soluta eos explicabo iste? Alias similique
            atque modi!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quibusdam, quidem maiores quam esse nulla!
            Necessitatibus perferendis libero rem sint, ipsum atque? Et ad dicta ab odit itaque harum. Quibusdam?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus iste labore quod libero repudiandae
            repellat alias eius ipsam rem in provident tempore, expedita, magni reprehenderit repellendus placeat eaque
            necessitatibus autem.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia officia vel facere temporibus, nobis
            quidem quod laboriosam voluptates vero, expedita explicabo? Voluptatum temporibus repellendus provident
            iste. Qui in commodi similique!
            <br> <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consectetur odio enim doloribus, nemo,
            praesentium odit, temporibus eum aut nulla saepe laboriosam? Accusamus quaerat eveniet ratione quos
            doloremque architecto officia!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat in cum, doloribus eligendi ipsum nobis
            odit odio est magni quis ipsa eveniet enim laboriosam similique architecto distinctio natus, excepturi
            consequatur!
        </div>
        <div id="view-comment"><span>2 Comments</span></div>
        <div id="comment-section">
            <div id="write-comment">
                <form action="" method="POST">
                    <input type="text" placeholder="Name" id="comment-write-name">
                    <input type="text" placeholder="Password" id="comment-write-pw">
                    <textarea id="content" placeholder="Please write a comment"></textarea>
                    <button type="submit">Post Comment</button>
                </form>
            </div>
            <ul id="comment-list">
                <li>
                    <ul id="comment">
                        <li id="comment-writer">Jihyo Kim</li>
                        <li id="comment-date">January 6, 2019</li>
                        <li id="comment-edit">Edit</li>
                        <li id="comment-content">Hello, world!</li>
                    </ul>
                </li>
                <li>
                    <ul id="comment">
                        <li id="comment-writer">Jihyo Kim</li>
                        <li id="comment-date">January 6, 2019</li>
                        <li id="comment-edit">Edit</li>
                        <li id="comment-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum nemo,
                            molestiae neque hic consectetur magni! Dolorum accusantium eos eligendi similique doloribus
                            sunt ut perferendis. Illum incidunt ducimus doloribus. Aperiam, possimus!</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="footer">
        <p id="copyright">&copy; 2018 Jihyo Kim</p>
        <ul id="footer-social-media">
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-linkedin"></a></li>
            <li><a href="#" class="fa fa-instagram"></a></li>
        </ul>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="admin.html">Admin</a></li>
        </ul>
    </div>
    <script src="../js/meunButton.js"></script>
    <script src="../js/commentsButton.js"></script>
</body>

</html>