{% extends 'blog/main_page.html' %}
{% load static %}
{% block content %}
<div id="main-body">
    hello world
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis excepturi cupiditate dolorem velit ullam, culpa
    similique, adipisci veniam earum possimus itaque, labore aliquam iusto corrupti ipsum id voluptas dignissimos
    maxime!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit adipisci nobis unde autem esse voluptatum delectus
    consectetur! Laboriosam exercitationem placeat asperiores pariatur sed nihil sequi assumenda. Deserunt dicta
    laboriosam minus.
</div>
<script>
    document.getElementById("nav-about").className = "nav-list selected";
</script>
{% endblock %}