* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}


ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
#top-nav-bar {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    color: rgb(44, 44, 44);
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 2px 2px 5px grey;
}


#top-nav-bar hr {
    display: none;
    margin-top: 1em;
    border: 1px solid rgb(48, 48, 48);
}

#top-nav-bar ul{
    display: inline;
    position: absolute;
    right: 0;
    margin-right: 1em;
}
#main-logo {
    font-family: 'Ranga', cursive;
    font-size: 1.2em;
    margin-left: 1em;
    color: rgb(43, 43, 43);
}

#top-nav-bar li {
    display: inline;
    margin-right: 1em;
}

#top-nav-bar a {
    color: rgb(56, 56, 56);
    font-size: .8em;
}
#top-nav-bar #write-post {
    display: none;
}
.nav-list.selected {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

#footer {
    background-color: rgb(29, 29, 29);
    padding: 1em;
    text-align: center;
    margin-top: 3em;
}

#footer p {
    margin-bottom: .5em;
}

#footer ul {
    margin-bottom: .5em;
}

#footer p, #footer a {
    color: white;
    font-size: .8em;
}

#footer li {
    display: inline;
    margin-right: 1em;
}

#main-body {
    width: 90%;
    max-width: 45em;
    margin: 0 auto;
    margin-top: 5em;
}

#title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5em;
}

#pub-date {
    color: rgb(124, 124, 124)
}

#contents {
    line-height: 30px;
    margin-top: 1em;
}

#control {
    font-size: .8em;
    margin-top: 1em;
    display: block;
}

.control-button {
    display: inline;
    margin-right: 1em;
    padding: .5em 1em;
}

.control-button:hover {
    cursor: pointer;
}

#update {
    background-color: rgb(39, 39, 39);
    color: white;
}

#delete {
    background-color: rgb(212, 52, 23);
    color: white;
}
