* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}


ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
#menu-icon {
    width: 2em;
    position: absolute;
    right: 0;
    margin-right: 1.5em;
}
#menu-icon:hover {
    cursor: pointer;
}
#top-nav-bar {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    color: rgb(44, 44, 44);
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 2px 2px 5px grey;
}


#top-nav-bar hr {
    display: none;
    margin-top: 1em;
    border: 1px solid rgb(48, 48, 48);
}

#dropdown-menu {
    display: none;
}
#menu {
    display: none;
}

#top-nav-bar li {
    text-align: center;
    border-bottom: 1px solid rgb(190, 190, 190);
    padding-bottom: .5em;
    padding-top: .5em;
}
#main-logo {
    font-family: 'Ranga', cursive;
    font-size: 1.2em;
    margin-left: 1em;
    color: rgb(43, 43, 43);
}
#top-nav-bar a {
    color: rgb(56, 56, 56);
    font-size: .8em;
}
#top-nav-bar #write-post {
    display: block;
}
.nav-list.selected {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

#footer {
    background-color: rgb(29, 29, 29);
    padding: 1em;
    text-align: center;
    margin-top: 3em;
}

#footer p {
    margin-bottom: .5em;
}

#footer ul {
    margin-bottom: .5em;
}

#footer p, #footer a {
    color: white;
    font-size: .8em;
}

#footer li {
    display: inline;
    margin-right: 1em;
}

#main-body {
    width: 90%;
    max-width: 45em;
    margin: 0 auto;
    margin-top: 5em;
}

#title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

#pub-date {
    color: rgb(124, 124, 124)
}

#contents {
    line-height: 150%;
    margin-top: 1.5em;
}

#control {
    font-size: .8em;
    margin-top: 1em;
    display: block;
}

.control-button {
    display: inline;
    margin-right: 1em;
    padding: .5em 1em;
    font-size: .5em;
}

.control-button:hover {
    cursor: pointer;
}

#edit {
    background-color: rgb(39, 39, 39);
    color: white;
}

#delete {
    background-color: rgb(212, 52, 23);
    color: white;
}

#view-comment {
    border-top: 1px solid rgb(110, 110, 110);
    border-bottom: 1px solid rgb(110, 110, 110);
    padding: .7em;
    text-align: right;
    margin-top: 2em;
}

#view-comment span:hover {
    cursor: pointer;
}


#comment-section {
    display: none;
}

#comment {
    display: inline-block;
    background-color: rgb(241, 241, 241);
    padding: .8em;
    margin-top: .5em;
    border-radius: 1em;
}

#comment-writer, #comment-date, #comment-edit {
    display: inline;
    margin-right: .5em;
}

#comment-edit {
    font-size: .8em;
    color: rgb(153, 153, 153);
}

#comment-edit:hover {
    color: rgb(58, 58, 58);
    cursor: pointer;
}

#comment-date {
    font-size: .8em;
    color: rgb(153, 153, 153);
}

#comment-content {
    margin-top: .2em;
    color: rgb(112, 112, 112);
}

#write-comment {
    border: 1px solid rgb(214, 214, 214);
    padding: .8em;
    margin-top: .5em;
    /* padding-bottom: 0;
    padding-right: 0; */
}

#write-comment input {
    padding: 1em;
    display: block;
    border: none;
    width: 95%;
    background-color: rgb(238, 238, 238);
    margin-bottom: .3em;
}

#write-comment button {
    padding: .7em 1em;
    margin-top: 1em;
    margin-right: 1em;
    border: none;
    background-color: rgb(56, 56, 56);
    color: white;
    display: block;
    width: 10em;
    margin-left: auto;
}

textarea#content {
    border: none;
    resize: none;
    display: block;
    width: 95%;
    height: 6em;
    padding: 1em;
    background-color: rgb(238, 238, 238);
    margin-bottom: .3em;
}
@media screen and (min-width: 550px) {

    #menu-icon {
        display: none;
    }

    #top-nav-bar {
        padding-bottom: 1em;
    }

    #top-nav-bar ul{
        display: inline;
        position: absolute;
        right: 0;
        margin-right: 1em;
    }
    #top-nav-bar li {
        display: inline;
        margin-right: 1em;
        border-bottom: none;
    }
    #top-nav-bar .nav-list.selected {
        border-bottom: 2px solid black;
        padding-bottom: 3px;
    }

    #top-nav-bar #write-post {
        display: inline;
    }
}
